{% extends "structure.html" %}

{% block content %}
<main>
    <section class="home-content">
        <div class="container">
            <div class="content-title">
                <h1>Downloads</h1>
            </div>
            <div class="content-bg text-center pb-5">
                <span class="d-block">Para jogar você precisa baixar o cliente do jogo. Escolha um dos seguintes links: </span>
				<div class="d-flex flex-column col-3 mx-auto">
					<a href="###" class="btn btn-primary btn-lg mt-3 me-3"><i class="bi bi-download"></i> Direct Download</a>
					<a href="###" class="btn btn-primary btn-lg mt-3 me-3 position-relative"><i class="bi bi-download"></i> Google Drive
						<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
						Recomendado
						</span>
					</a>
					<a href="###" class="btn btn-primary btn-lg mt-3 me-3"><i class="bi bi-download"></i> Mediafire</a>
					<a href="###" class="btn btn-primary btn-lg mt-3 me-3"><i class="bi bi-download"></i> Mega.nz</a>
				</div>
            </div>
        </div>
    </section>
</main>
{% endblock %}