{% extends "structure.html" %}

{% block content %}
<main>
    <section class="home-content">
        <div class="container">
            <div class="content-title">
                <h1>Alterar Senha</h1>
                <!-- Página para alterar senha com link do e-mail -->
            </div>
            <div class="content-bg pb-5">
                <form method="POST" action="/forgot/change-password" id="form-login" class="user-forms">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control rounded-0" placeholder="Nova Senha" aria-label="Password" required pattern=".{8,16}" name="password">
                        <span class="input-group-text rounded-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="
                        - Between 8 and 16 Characters. <br>
                        - Must have at least 1 number. <br>
                        - Must have at least 1 letter. <br>
                        - Must have at least 1 special character. <br>
                        - Must have at least 1 uppercase letter . <br>
                        ">?</span>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control rounded-0" placeholder="Confirme a Nova Senha" aria-label="Confirm Password" aria-describedby="basic-addon2" required pattern=".{8,16}" name="confirm-password">
                    </div>

                    <input type="hidden" name="token" value="{{session.token}}">
                    <input type="hidden" name="code" value="{{code}}">
                    {% if constant("ENABLE_CAPTCHA") %}
                    <div class="d-flex justify-content-center">
                        <div class="g-recaptcha" data-sitekey="{{constant ('CAPTCHA_PUBLIC_KEY')}}"></div>
                    </div>
                    {% endif %}

                    <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-3">
                        <button class="btn btn-primary" type="submit">Alterar Senha</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}