{% extends "structure.html" %}

{% block content %}
<main>
    <section class="home-content">
        <div class="container">
            <div class="content-title d-flex justify-content-between">
                <h1>Loja de Moedas</h1>
            </div>
            <div class="content-bg">
                <div class="row">
                    <div class="col-md-9">
                        <div class="pt-1 gap-5 text-start" id="checkout-form">
                            <div class="mb-3">
                                <a href="/shop/orders" class="btn btn-sm btn-light">Voltar</a>
                              </div>
                            <div class="d-flex align-items-center justify-content-center justify-content-lg-between flex-wrap gap-3">
                                <h2 class="page-title">Pedido {{order.DisplayID}}</h2>
                            </div>
                            <hr>
                            <div class="pt-1 gap-5 ">
                                <div  class="rounded-3 shadow-lg text-light p-4">
                                    Item do Pedido:
                                    <ul class="mt-2 dot-style">
                                        <li class="text-warning">{{order.coins|number_format(0, '', '.')}} Moedas Cash</li>
                                    </ul>
                                    <hr>
                                    Preço:
                                    <ul class="mt-2 dot-style">
                                        <li>R${{order.price|number_format(2, ',', '')}}</li>
                                    </ul>
                                    {% if order.DragonCoins > 0 %}
                                    <hr>
                                    Bônus:
                                    <ul class="mt-2 dot-style text-danger">
                                        <li>{{order.DragonCoins|number_format(0, '', '.')}} Pontos</li>
                                    </ul>
                                    {% endif %}
                                    <hr>
                                    Detalhes:
                                    <ul class="mt-2 dot-style">
                                        {{invoiceStatus(order.status)|raw}}
                                        <li>Pagamento: {{order.PaymentMethod}}</li>
                                    </ul>
                                    <hr>
                                    {% if order.status == 'Pendente' or order.status == 'Em Processamento' %}
                                    <h2 class="fs-4">Pagamento:</h2>
                                    <br>
                                    {% if order.PaymentMethod == 'PIX' %}
                                    <div class="text-center">
                                        <span class="" style="font-size:11px;">Escaneie o QR Code ou copie o código para realizar o pagamento.</span>
                                        <br>
                                        <img class="mt-2 mb-3" style="width:350px;" src="data:image/png;base64,{{pix.qrCode}}" alt="">
                                        <br>
                                        <span class="text-light">Pix Copia e Cola:</span>
                                        <br>
                                        <div style="user-select: text;">
                                            {{pix.code}}
                                        </div>
                                    </div>
                                    {% endif %}
                                   {% if order.PaymentMethod == 'PAYPAL' %}
                                    <div id="donate-button-container">
                                        <div id="donate-button"></div>
                                        <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
                                        <script>
                                        PayPal.Donation.Button({
                                        env:'production',
                                        hosted_button_id: '{{order.TransactionID}}',
                                        custom: '{{order.DisplayID}}',
                                        image: {
                                        src:'https://pics.paypal.com/00/s/ZjI3NDUxYjQtMTZjMi00NWViLTkxMTItYzEyOTEwODhhNTk2/file.PNG',
                                        alt:'Faça doações com o botão do PayPal',
                                        title:'PayPal - The safer, easier way to pay online!',
                                        }
                                        }).render('#donate-button');
                                        </script>
                                    </div>
                                    {% endif %}
                                    
                                    <hr>
                                    {% endif %}
                                    <div class="alert alert-secondary" role="alert">
                                        A ativação é automática após confirmação do pagamento.
                                        {% if order.PaymentMethod == 'PAYPAL' %}
                                        <hr>
                                        Caso já tenha realizado o pagamento, aguarde ou entre em contato com o suporte.
                                        {% endif %}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        {% include '/my-account-menu.html' %}                   
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
{% block js %}
{% include '/custom-js.html' %}
{% endblock %}