<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="/admin/dashboard" class="nav-link">
                                <i class="bi bi-house"></i>
                                <p>
                                    Página Inicial
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/post" class="nav-link ">
                                <i class="bi bi-newspaper"></i>
                                <p>
                                    Posts
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/shop-coins" class="nav-link ">
                                <i class="bi bi-cash-coin"></i>
                                <p>
                                    Loja de Moedas
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/shop-promotion" class="nav-link ">
                                <i class="bi bi-percent"></i>
                                <p>
                                    Promoções
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/tos" class="nav-link">
                                <i class="bi bi-check-square-fill"></i>
                                <p>
                                    Termos & Políticas
                                </p>
                            </a>
                        </li>
                        
                    </ul>