{% extends "admin/structure.html" %}

{% block css %}
<link rel="stylesheet" href="/plugins/chart.js/Chart.css">
<link rel="stylesheet" href="/css/sweetalert2.min.css">
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Inicio</h1>
          </div><!-- /.col -->
          <div class="col-sm-6 d-none">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Starter Page</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">

          <div class="col-12">
            <div class="info-box bg-gray">
              <span class="info-box-icon"><i class="bi bi-envelope"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Quota de E-mails</span>
                <span class="info-box-number">Limite Diário: 500</span>
                <div class="progress">
                  <div class="progress-bar bg-success" style="width: {{(emailsSent / 500) * 100}}%;"></div>
                </div>
                <span class="progress-description">
                  {{(emailsSent / 500) * 100}}% Utilizado ({{emailsSent}} Enviados)
                </span>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="bi bi-person-fill"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Contas Criadas</span>
                <span class="info-box-number">
                  {{totalAccounts|number_format(0, '', '.')}}
                </span>
              </div>

            </div>

          </div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="bi bi-cart-x-fill"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Vendas Não Concluídas</span>
                <span class="info-box-number">{{orderReports.unsuccessfulSales}}</span>
              </div>

            </div>

          </div>

          <div class="clearfix hidden-md-up"></div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="bi bi-cart-check-fill"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Vendas Concluídas</span>
                <span class="info-box-number">{{orderReports.successfulSales}}</span>
              </div>

            </div>

          </div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="bi bi-cash-stack"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Total Recebido</span>
                <span class="info-box-number">R$ {{orderReports.moneyReceived}}</span>
              </div>

            </div>

          </div>

        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Últimas Vendas</h3>
              </div>
              <div class="card-body p-0">
                <div class="table-responsive text-center">
                  <form action="/admin/search/order" method="post">
                    <div class="d-flex col-12 my-3 col-lg-3">
                      <input type="text" name="displayID" id="" class="form-control mx-1" placeholder="Nº do Pedido ou Login" required>
                      <button class="btn btn-secondary">Buscar</button>
                      <input type="hidden" name="token" value="{{session.token}}">
                    </div>
                  </form>
                  <table class="table m-0">
                    <thead>
                      <tr>
                        <th>Pedido nº</th>
                        <th>Item</th>
                        <th>Status</th>
                        <th>Usuário</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for order in orders %}
                      <tr>
                        <td><a href="/admin/order/{{order.DisplayID}}">{{order.DisplayID}}</a></td>
                        <td>{{order.coins|number_format(0, '', '.')}} Cash</td>
                        <td>
                          {% if order.status == 'Pendente' or order.status == 'Em Processamento' %}
                          <span class="badge badge-warning">{{order.status}}</span>
                          {% endif %}
                          {% if order.status == 'Concluído' or order.status == 'Pago' %}
                          <span class="badge badge-success">{{order.status}}</span>
                          {% endif %}
                          {% if order.status == 'Cancelado' or order.status == 'Negado' or order.status == 'Extornado' %}
                          <span class="badge badge-danger">{{order.status}}</span>
                          {% endif %}
                        </td>
                        <td>{{order.login}}</td>
                      </tr>
                      {% endfor %}
                      <!-- <tr>
                        <td><a href="#">OR9842</a></td>
                        <td>30.000 Cash</td>
                        <td><span class="badge badge-success">Concluído</span></td>
                        <td>accountName</td>
                      </tr>
                      <tr>
                        <td><a href="#">OR9842</a></td>
                        <td>30.000 Cash</td>
                        <td><span class="badge badge-warning">Pendente</span></td>
                        <td>accountName</td>
                      </tr>
                      <tr>
                        <td><a href="#">OR9842</a></td>
                        <td>30.000 Cash</td>
                        <td><span class="badge badge-danger">Cancelada</span></td>
                        <td>accountName</td>
                      </tr>
                      <tr>
                        <td><a href="#">OR9842</a></td>
                        <td>30.000 Cash</td>
                        <td><span class="badge badge-info">Processando</span></td>
                        <td>accountName</td>
                      </tr>
                      <tr>
                        <td><a href="#">OR9842</a></td>
                        <td>30.000 Cash</td>
                        <td><span class="badge badge-success">Concluído</span></td>
                        <td>accountName</td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer text-center d-none">
                <a href="#" class="">Ver Mais</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <div class="card-header">Pacotes Mais Comprados </div>
              <card class="body pt-3 pb-3">
                <canvas id="pieChart"
                  style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </card>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Quantidade de Cash</h3>
              </div>
              <div class="card-body p-0">
                <div class="table-responsive text-center">
                  <table class="table m-0">
                    <thead>
                      <tr>
                        <th>Conta</th>
                        <th>Quantidade</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for account in cashList %}
                        <tr>
                          <td>{{account.login}}</td>
                          <td>
                            <img src="/img/shop/coin-icon.webp" alt="" style="filter: hue-rotate(170deg);"><span class="text-primary">{{account.cash|number_format(0, '', '.')}}</span> /
                            <img src="/img/shop/coin-icon.webp" alt="" ><span class="text-warning">{{account.mileage|number_format(0, '', '.')}}</span>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer text-center">
                <a href="#" class="">Ver Mais</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Quantidade de Itens</h3>
              </div>
              <div class="card-body p-0">
                <div class="table-responsive text-center">
                  <table class="table m-0">
                    <thead>
                      <tr>
                        <th>Item</th>
                        <th>Quantidade</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in itensList %}
                      <tr>
                        <td>{{itemName(item.vnum)}} <span class="text-muted">{{item.vnum}}</span></td>
                        <td>{{item.total|number_format(0, '', '.')}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
{% endblock %}

{% block js %}
<script src="/plugins/chart.js/Chart.js"></script>
<script src="/js/sweetalert2.all.min.js"></script>
  <script>
    //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
    var pieData = {
      labels: [
        {% for amount in orderReports.mostPurcharsedCoins %}
        '{{amount.coins|number_format(0, '', '.')}} Cash',
        {% endfor %}
      ],
      datasets: [
        {
          data: [
          {% for amount in orderReports.mostPurcharsedCoins %}
          '{{amount.total}}',
          {% endfor %}
          ],
          backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
        }
      ]
    }
    var pieOptions = {
      maintainAspectRatio: false,
      responsive: true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    new Chart(pieChartCanvas, {
      type: 'pie',
      data: pieData,
      options: pieOptions
    })


  </script>
{% endblock %}