{% extends "admin/structure.html" %}

{% block css %}
<link rel="stylesheet" href="/plugins/summernote/summernote-bs4.min.css">
<link rel="stylesheet" href="/css/sweetalert2.min.css">
<script src="/js/sweetalert2.all.min.js"></script>
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Postagens</h1>
          </div><!-- /.col -->
          <div class="col-sm-6 d-none">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Starter Page</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <form action="#" id="form-post">
                <div class="card">
                  <div class="card-header">
                      <h3 class="card-title">Nova Postagem</h3>
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="bi bi-dash"></i>
                        </button>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Título" name="title" value="{{post.title}}">
                      </div>
                      <div class="form-group">
                          <select name="category" id="#" class="form-control">
                              {% for category in categories %}
                              {% if post.category == category.name %}
                              <option value="{{category.name}}" selected> {{category.value}}</option>
                              {%else%}
                              <option value="{{category.name}}"> {{category.value}}</option>
                              {% endif %}
                              {% endfor %}
                          </select>
                      </div>
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Link da Imagem" name="img_url" value="{{post.imgUrl}}">
                      </div>
                      <div class="form-group">
                          <textarea class="note-codable" aria-multiline="true" style="height: 44px;" id="compose" name="content">{{post.content|raw}}</textarea>
                      </div>
                      <input type="hidden" name="token" id="__token" value="{{session.token}}">
                      <input type="hidden" name="id" id="__id" value="{{post.id}}">
                      <input type="hidden" name="views" id="views" value="{{post.views}}">
                      <input type="hidden" name="date" id="date" value="{{post.date}}">
                      <input type="hidden" name="link" id="link" value="{{post.link}}">
                      <span class="text-muted"><i class="bi bi-eye-fill"></i>  <span class="views">{{post.views}}</span></span>
                      <br>
                      <span class="text-muted"><i class="bi bi-calendar-date"></i>  <span class="date">{{post.date|date("d/m/Y")}} às {{post.date|date("H:i:s")}}h</span></span>
                  </div>
                  <div class="card-footer">
                      <div class="btn-group" id="btn-delete-post">
                          {% if post.id %}
                          <a onclick="return postDelete('{{post.id}}')" class="btn btn-danger"><i class="bi bi-trash"></i> Apagar</a>
                          <a href="/admin/post" class="btn btn-default"><i class="bi bi-newspaper"></i> Novo</a>
                          {% endif %}
                      </div>
                      <div class="btn-group float-right">
                          <a onclick="return create()" class="btn btn-secondary"><i class="bi bi-pencil"></i> Salvar Rascunho</a>
                          <a onclick="return create(true)" class="btn btn-success"><i class="bi bi-arrow-right"></i> Publicar</a>
                      </div>
                  </div>
                </div>
            </form>
          </div>

        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-8">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Últimas Postagens</h3>
              </div>
              <div class="card-body p-0">
                <div class="table-responsive text-center">
                  <table class="table m-0">
                    <thead>
                      <tr>
                        <th>Categoria</th>
                        <th>Título</th>
                        <th>Status</th>
                        <th>Visualizações</th>
                        <th>Opções</th>
                      </tr>
                    </thead>
                    <tbody id="publishedTable">
                      <!-- <tr>
                        <td><a href="#">Eventos</a></td>
                        <td><a href="#">Eventos Semanais</a></td>
                        <td><span class="badge badge-success">Publicado</span></td>
                        <td>1.375</td>
                        <td>
                          <div class="btn-group">
                              <a href="#" class="btn btn-primary btn-sm" title="Editar"><i class="bi bi-pencil-square"></i></a>
                              <a href="#" class="btn btn-danger btn-sm" title="Apagar"><i class="bi bi-trash"></i></a>
                          </div>
                        </td>
                      </tr> -->
                      
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer text-center">
                <a href="#" class="">Ver Mais</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Rascunhos</h3>
                </div>
                <div class="card-body p-0">
                  <div class="table-responsive text-center">
                    <table class="table m-0">
                      <thead>
                        <tr>
                          <th>Categoria</th>
                          <th>Título</th>
                          <th>Status</th>
                          <th>Opções</th>
                        </tr>
                      </thead>
                      <tbody id="draftTable">
                        <!-- <tr>
                          <td><a href="#">Eventos</a></td>
                          <td><a href="#">Eventos Semanais</a></td>
                          <td><span class="badge badge-warning">Rascunho</span></td>
                          <td>
                            <div class="btn-group">
                              <a href="#" class="btn btn-primary btn-sm" title="Editar"><i class="bi bi-pencil-square"></i></a>
                              <a href="#" class="btn btn-danger btn-sm" title="Apagar"><i class="bi bi-trash"></i></a>
                            </div>
                          </td>
                        </tr> -->

                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-footer text-center">
                  <a href="#" class="">Ver Mais</a>
                </div>
              </div>
            </div>
        </div>
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
{% endblock %}

{% block js %}
<script src="/plugins/summernote/summernote-bs4.min.js"></script>
  <script>
    $('#compose').summernote()

    function updateCurrentPost(data)
    {
      
      $("#__id").val(data.id)
      $("#views").val(data.views)
      $("#date").val(data.date)
      $("#link").val(data.link)
      
      var formattedDate = new Date(data.date);
      var formattedDateText = formattedDate.getDate() + "/" + (formattedDate.getMonth() + 1) + "/" + formattedDate.getFullYear();
      var formattedTimeText = formattedDate.getHours() + ":" + formattedDate.getMinutes() + ":" + formattedDate.getSeconds();
      
      $("span.views").html(data.views)
      $("span.date").html(" " + formattedDateText + " às " + formattedTimeText + "h")
     
      let deleteContainer = document.getElementById('btn-delete-post')
      deleteContainer.classList.remove('d-none')
      deleteContainer.innerHTML = `
      <a onclick="return postDelete(${data.id})" class="btn btn-danger"><i class="bi bi-trash"></i> Apagar</a>
      <a href="/admin/post" class="btn btn-default"><i class="bi bi-newspaper"></i> Novo</a>`
    }
    
    function updateToken(responseToken)
    {
      document.getElementById('__token').value = responseToken;
    }

    function create(draft = false)
    {
      const formData = new FormData(document.getElementById('form-post'))
      if (draft) {
        formData.append('publish', true)
      }

      swalLoading()

      fetch('/admin/post/create', {
          method: 'POST',
          body: formData
      })
      .then(response => response.json())
      .then(data => {
          updateToken(data.token)
          
          if (data.extra.id) {
            updateCurrentPost(data.extra)
          }

          if (data.success === true) {
            Swal.fire('Successo!', data.msg, 'success')
            updateDraft()
            updatePublished()
            return;
          }

          swalError(data.msg)
          return;
      })
      .catch(error => {
          Swal.fire('Ops!', 'Atualize a página e tente novamente.', 'error')
      })
    }

    function postDelete(id) 
    {
      fetch(`/admin/post/delete/${id}`, {
          method: 'GET',
        })
        .then(response => response)
        .then(data => {
          document.getElementById('__id').value = '';
          updateDraft()
          updatePublished()
        })
        .catch(error => {
            console.log(error)
        })
    }

    function updateDraft()
    {
        fetch('/admin/post/list/draft', {
            method: 'GET',
        })
        .then(response => response.json())
        .then(data => {
          const tableBody = document.getElementById('draftTable');
          tableBody.innerHTML = ''

          data.forEach(item => {
          let html = `
            <tr>
              <td><a href="/post/${item.category}" target="__blank">${item.category}</a></td>
              <td><a href="/post/${item.category}/${item.link}" target="__blank">${item.title}</a></td>
              <td><span class="badge badge-warning">Rascunho</span></td>
              <td>
                <div class="btn-group">
                  <a href="/admin/post/${item.id}" class="btn btn-primary btn-sm" title="Editar"><i class="bi bi-pencil-square"></i></a>
                  <a onclick="return postDelete(${item.id})" class="btn btn-danger btn-sm" title="Apagar"><i class="bi bi-trash"></i></a>
                </div>
              </td>
            </tr>
          `;

          // Adicionar o HTML gerado à tabela existente
          tableBody.innerHTML += html;
        });
        })
        .catch(error => {
            console.log(error)
        })
    }

    function updatePublished()
    {
      fetch('/admin/post/list/published', {
            method: 'GET',
        })
        .then(response => response.json())
        .then(data => {
          const tableBody = document.getElementById('publishedTable');
          tableBody.innerHTML = ''

          data.forEach(item => {
          let html = `
          <tr>
            <td><a href="/post/${item.category}" target="__blank">${item.category}</a></td>
            <td><a href="/post/${item.category}/${item.link}" target="__blank">${item.title}</a></td>
            <td><span class="badge badge-success">Publicado</span></td>
            <td>${item.views}</td>
            <td>
              <div class="btn-group">
                <a href="/admin/post/${item.id}" class="btn btn-primary btn-sm" title="Editar"><i class="bi bi-pencil-square"></i></a>
                  <a onclick="return postDelete(${item.id})" class="btn btn-danger btn-sm" title="Apagar"><i class="bi bi-trash"></i></a>
              </div>
            </td>
          </tr>
          `;

          // Adicionar o HTML gerado à tabela existente
          tableBody.innerHTML += html;
        });
        })
        .catch(error => {
            console.log(error)
        })
    }

    window.addEventListener('load',function() {
      updateDraft()
      updatePublished()
    });
  </script>
{% endblock %}